h3 {
    color: forestgreen;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h4 {
    color: rgb(4, 149, 247);
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}